body{
    font-family: 'Poppins', sans-serif;
    background-color:  #AAAAAA;
}
/* head head head  */
.head{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
}
.last{
    display: flex;
    gap: 30px;
    align-items: center;
}
/* first section  */
.first-section{
    display: flex;
    margin-left: 60px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: space-between;
}
h1{
    font-size: 2.5em;
}
.anchor{
    border: 10px;
    background-color:  #E02C6D;
    border-radius: 20px;
    width: 170px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.anchor a{
    text-decoration: none;
    color: white;
    font-weight: 900;

}
.camera img{
    height: 350px;
    width: 350px;
}
/* hr  */
hr{
  margin-left: 100px;
  margin-right: 100px;
  color: rgb(250, 247, 247);
}
/* logo  */
.logo{
    margin-left: 80px;
}
.logo img{
    height: 50px;
    width: 80px;
    padding-left: 80px;
}
/* wwww */
.wwww{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
/* second-section  */
.second-section{
    display: flex;
    justify-content: center;
   margin-bottom: 20px;
   font-size: 1.5em;
   
}
/* third-section  */
.third-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
.third-section .box{

    width: 300px;
    height: 470px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
   
   
    background-color:  #FFFFFF;
}
.third-section div>img{
    width: 260px;
    height: 225px;
    
}
.image{
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    /* padding-left: 18px; */
    /* padding: 10px; */
    padding-left: 20px;
    justify-content: center;
}
.image span{
    display: flex;
    text-decoration: none;
}

span a{
    padding-right: 5px;
    color: goldenrod;
}
/* four-section */
.forth-section{
    display: flex;
    justify-content: flex-end;
}

.anchor-2 a{
    text-decoration: none;
    color:  rgba(224, 44, 109, 0.87);
    font-size: 20px;
    padding-right: 60px;
}
/* fifth-section  */
.fifth-section{
    display: flex;
    margin-left: 50px;
    margin-top: 60px;
    margin-bottom: 100px;
}
.fifth-section-info{
    /* margin-left: 60px; */
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 40px;
}
.anchor-last a{
    text-decoration: none;
    background-color:  #E02C6D;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
/* footer  */
.last-section{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 250px;
    text-align: center;
    
}
.footer{
    padding-top: 20px;
}
.fa-brands{
    color: white;
    padding-right: 5px;
    padding-left: 10px;
}
/* media quary */
