body{
    font-family: 'Poppins', sans-serif;
    background-color:  #AAAAAA;
}
/* head head head  */
.head{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
}
.last{
    display: flex;
    gap: 30px;
    align-items: center;
}
/* first section  */
section{
    display: flex;
    margin-left: 60px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: space-between;
}
h1{
    font-size: 2.5em;
}
.anchor{
    border: 10px;
    background-color:  #E02C6D;
    border-radius: 20px;
    width: 170px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.anchor a{
    text-decoration: none;
    color: white;
    font-weight: 900;

}
.camera img{
    height: 350px;
    width: 350px;
}
/* hr  */
hr{
  margin-left: 100px;
  margin-right: 100px;
  color: rgb(250, 247, 247);
}
/* logo  */
.logo{
    margin-left: 80px;
}
.logo img{
    height: 50px;
    width: 80px;
    padding-left: 80px;
}
/* second-section  */
.second-section{
    display: flex;
    justify-content: center;
   
}
/* third-section  */
.third-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.third-section div{
    width: 300px;
    height: 470px;
    margin-right: 40px;
    margin-bottom: 50px;
    border-radius: 5px;
    top: 1035px;
    background-color:  #FFFFFF;
}
.third-section div>img{
    width: 280px;
    height: 240px;
 
}
.image{
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-left: 18px;
}
.image span{
    display: flex;
    text-decoration: none;
}
span a{
    padding-right: 5px;
    color: goldenrod;
}